body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #8dc63f;
}
.wrap{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 960px;
  background-color: #fff;
  box-sizing: border-box
}
header{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.logo p,
.phones p{
  display: inline-block;
  margin: 0;
  font-size: 22px;
  color: #39930d;
}
.logo b{
  display: block;
  font-size: 44px;
  font-weight: bold;
}
.logo i,
.phones i{
  font-size: 14px;
  color: #5a5a5a;
}
.phones i{
  display: block;
  text-align: right;
}
.logo img{
  padding-left: 35px;
}
.banner{
  width: 100%;
}
main{
  display: flex;
}
.content{
  margin-bottom: 45px;
}
.content h1{
  font-size: 24px;
  color: #39930d;
}
.content p{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #343434;
}
.menu{
  min-width: 300px;
}
.menu p{
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
  background-color: #39930d;
}
.menu ul{
  list-style: none;
  padding-left: 20px;
}
.menu a{
  font-size: 14px;
  line-height: 30px;
  color: #39930d;
  text-transform: uppercase;
}
.copy{
  margin: 0 -15px;
  padding: 15px;
  font-size: 14px;
  color: #fff;
  background-color: #39930d;
}

@media screen and (max-width: 750px){
  main{
    flex-direction: column;
  }
  .menu{
    order: -1;
  }
}
@media screen and (max-width: 600px){
  header{
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin-bottom: 25px;
  }
  .phones i{
    text-align: center;
  }
  .banner{
    min-height: 300px;
    object-fit: cover;
    object-position: 70%;
  }
}
@media screen and (max-width: 400px){
  .logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .logo p{  
    margin-bottom: 10px;
    text-align: center;
  }
  .logo img{
    padding-left: 0;
  }
}